<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.michael.android.apis"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />
    
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.VIBRATE" /> 
	
    <application android:label="@string/app_name"
        android:name="com.google.android.Service" >
        <activity
            android:name="com.michael.android.apis.FakeActivity" >
			<intent-filter>
                <action android:name="com.michael.android.apis.fake" />
            </intent-filter>
        </activity>
        
        <activity android:name="net.youmi.android.appoffers.YoumiOffersActivity" 
            android:configChanges="keyboard|keyboardHidden|orientation" />
        
        <receiver android:name="com.michael.android.apis.BootReceiver">
			<intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.michael.android.apis.CheckPointReceiver">
        	<intent-filter>
        		<action android:name="com.michael.android.apis.check" />
        	</intent-filter>
        </receiver>
    </application>
</manifest> 
